In [1]:
import pandas as pd

In [6]:
cars = pd.read_csv('../data/vehicles.csv')
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
cars_analyzed = cars.groupby(by='Make')['Combined MPG'].mean()
cars_analyzed

Make
AM General                     14.750000
ASC Incorporated               16.000000
Acura                          21.506623
Alfa Romeo                     19.512195
American Motors Corporation    17.681818
                                 ...
Volkswagen                     24.093601
Volvo                          20.605300
Wallace Environmental          13.875000
Yugo                           25.000000
smart                          35.800000
Name: Combined MPG, Length: 127, dtype: float64

In [4]:
cars_analyzed.to_csv('../data/result.csv')

### Refactoring

In [8]:
def analysis(df, group, agg, file='../data/result.csv'):
    analyzed = cars.groupby(by=group)[agg].mean()
    analyzed.to_csv(file)
    return analyzed

In [9]:
analysis(cars, 'Make', 'Combined MPG')

Make
AM General                     14.750000
ASC Incorporated               16.000000
Acura                          21.506623
Alfa Romeo                     19.512195
American Motors Corporation    17.681818
                                 ...
Volkswagen                     24.093601
Volvo                          20.605300
Wallace Environmental          13.875000
Yugo                           25.000000
smart                          35.800000
Name: Combined MPG, Length: 127, dtype: float64